@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html{
	font-family: 'Roboto Mono', "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
	font-size: 1.125em;
	background: #ffa1d5;
}

h1{
	font-size: 1.875em;
	font-weight: bold;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}
fieldset {
	border-color: transparent;
}

li {
	padding-bottom: 1em;
	text-align: center;
}

label {
  display: block;
  padding-left: 10px;
}

button, input {
  font-family: 'Roboto Mono', "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  overflow: visible;
  margin-bottom: 1em;
  margin-top: 1em;
}


@media screen and (min-width: 336px) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
}

@media screen and (min-width: 414px) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
}
